@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.margin-class {
    margin-left: calc(10% + 45px);
    margin-right: calc(10% + 45px);
}

.text-head {
    font-size: 1.6rem;
}

.text-sub {
    font-size: 1.4rem;
}